doctype html
html
  head
    meta(charset='utf-8')
    title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
  body
    div#container
      .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#') Bootstrap theme
    .navbar-collapse.collapse
      ul.nav.navbar-nav
        li.active
          a(href='#') Home
        li
          a(href='#about') About
        li
          a(href='#contact') Contact
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | Dropdown
            b.caret
          ul.dropdown-menu
            li
              a(href='#') Action
            li
              a(href='#') Another action
            li
              a(href='#') Something else here
            li.divider
            li.dropdown-header Nav header
            li
              a(href='#') Separated link
            li
              a(href='#') One more separated link
    // /.nav-collapse
.container
    h1 interface
  p.col-md-4
    button.btn.btn-lg.btn-default(type='button') Default
    button.btn.btn-lg.btn-primary(type='button') Primary
  p.col-md-4
    button.btn.btn-lg.btn-success(type='button') Success
    button.btn.btn-lg.btn-info(type='button') Info
  p.col-md-4
    button.btn.btn-lg.btn-warning(type='button') Warning
    button.btn.btn-lg.btn-danger(type='button') Danger

// /container
