doctype html
html
  head
    meta(charset='utf-8')
    title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
  body
    div#container.container
      h1 immersion
      p.lead interface temporium — film
      hr
      a.btn.btn-success(href="/exposure") exposure
      a.btn.btn-info(href="/player" type="button") player
      a.btn.btn-warning(href="/monitor" type="button") moniteur
// /container
