doctype html
html
  head
    meta(charset='utf-8')
    title
    link(rel='stylesheet', href='/css/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/css/screen.css')
    script(src='/js/socket.io.min.js')
    script(src='/js/jquery-1.11.1.js')
    script(src='/js/popcorn-complete.js')
    script(src='/js/player.js')
    script(src='/js/ac_quicktime.js')
    script(src='/js/qtp_library.js')
  body
    div#movie.player.off
    video#life.player.off(src='/video/live.mp4', controls='false', preload='auto')