* {
  margin: 0;
  padding: 0;
	background:black;
}

body {
  width: 100%;
  height: 100%;
}

.player {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  transition-property: opacity;
  transition-duration: 20s;
}

video::-webkit-media-controls-enclosure {
  display: none !important;
}

.off {
	opacity:0;
}
