/* screen */
* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
}
.player {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#life {
  top: -2 px;
}
video::-webkit-media-controls-enclosure {
  display: none !important;
}
:-webkit-full-screen #movie {
  width: 100%;
  height: 100%;
}
.off {
  opacity: 0;
}
#exposure {
  background: #cccccc url('/images/flash.png');
}
#wait {
  text-align: center;
  color: royalblue;
}
#timer {
  text-align: center;
  margin-top: 420px;
  color: white;
  font-size: 42px;
}
