/* screen */
* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
  background: black;
}
.player {
  width: 1888px;
  height: 1062px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.off {
  display: none;
}
#exposure {
  background: #cccccc url('/images/flash.png');
}
